.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    }
    .total, .true-count {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    .button {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    }